body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
 }

header {
    background-color: black;
    color: white;
    text-align: center;
}
        
.row {
    display: flex;
    flex: 1;
}

.space {
    flex: 2;
    padding: 15px;
}

.sidebar {
    flex: 1;
    background-color: white;
    padding: 15px;
    border-left: 2px solid black;
}

        
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

caption {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: large;
 }

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
     background-color: #09803f;
     color: white;
}

.row tbody tr:nth-child(even) {
    background-color: #e6750c;
}
