body{
    background-color: #ce9e68af;
    font-family:cursive;
}

header h1{
    color: #000000;
    font-size: 40pt;
}

main h1{
    color: #4c047c;
}

#name{
    color:#6b1c51;
}

.lighter{
    color:#69619e;
}

#links{
    color:#1f458a;
}