body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.schedule {
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    caption-side: bottom;
}

.schedule th, .schedule td {
    border: 5px solid black;
    padding: 5px;
}

.num {
    vertical-align: top;
}