body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.form-row input:not([type= 'submit']), .form-row select, .form-row textarea {
    padding: 5px 10px;
    background-color: rgb(160, 68, 37);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.form-row input:not([type= 'submit']), :focus, .form-rowse select:focus, .form-row textarea:focus {
    background-color: rgb(160, 68, 37);
}

.form-row input[type= 'submit'] {
    background-color: rgb(25, 60, 25);
    color: white;
    padding: 10px;
}

.spacer {
    width: 150px;
    text-align: right;
}

fieldset {
    background-color: rgb(210, 183, 30);
    width: 80%;
    margin: auto;
}

legend {
    background-color: darkgreen;
    color: wheat;
    padding: 20px;
}

@media ONLY screen AND (max-width: 480px) {
    .form-row, .check-row {
        flex-direction: column;
    }

    fieldset {
        width: 95px;
    }

    .form-row label, .spacer {
        text-align: left;
    }
}